<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DAO jam 注册</title>
    <style>
        html,body {
            height: 100%;
        }
        body {
            padding: 0;
            margin: 0;
        }
        .logo {
            height: 36px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div style="width: 100%;min-height: 100%;background: #0e2144; padding: 0 20px;box-sizing: border-box;">
    <div style="max-width: 600px;margin: 0 auto;padding-top: 50px;padding-bottom: 50px;">
        <img class="logo" alt="logo" src="https://ssimg.frontenduse.top/article/2020/04/01/1c817d1a6feea1eb4c0f54e3b665b90f.png" />
        <div style="width: 100%;background: #fff;padding: 30px; box-shadow: 0 0 20px rgba(0,0,0,.05);border-radius: 3px;box-sizing: border-box;">
            <p style="line-height: 1.5;margin: 0;padding: 0;font-size: 16px;">Hi,</p>

            <p style="line-height: 1.5;margin: 20px 0;padding: 0;font-size: 16px;">您进行注册的验证码是（如果不是本人，请不要做任何操作）：</p>

            <p style="line-height: 1.5;letter-spacing: 1px;margin: 0;padding: 0;font-size: 30px;font-weight: 800;color: #542DE0;">%captcha%</p>
            <a href="https://daojam.io" style="color: #542DE0;font-size: 14px;margin: 20px 0 0;display: inline-block;" target="_blank">如遇疑问可去官网进行反馈</a></div>

        <p style="color: #eaeaea;margin-top: 30px;font-size: 14px;">Copyright &copy; 2018-2020 ANDOROMEDA TECH.ltd</p>
    </div>
</div>
</body>
</html>
