<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>瞬Matataki-邮件验证码</title>
</head>

<body
  style="font-family: PingFang SC,Helvetica Neue,Helvetica,Nimbus Sans L,Arial,Liberation Sans,Hiragino Sans GB,Source Han Sans CN Normal,Microsoft YaHei,Wenquanyi Micro Hei,WenQuanYi Zen Hei,ST Heiti,SimHei,WenQuanYi Zen Hei Sharp,sans-serif;padding: 0;margin: 0;">
  <div style="width: 100%;min-height: 500px;background: #f6f6f6; padding: 0 20px;box-sizing: border-box;">
    <div style="max-width: 600px;margin: 0 auto;padding-top: 50px;">
      <img style="width: 180px;margin-bottom: 6px;" src="https://www.matataki.io/_nuxt/img/10c8f28.png" alt="logo">
      <!-- <p style="margin: 0 0 30px;padding: 0;font-size: 16px;color: #989898;">发布瞬间，灵感永存</p> -->
      <div
        style="width: 100%;background: #fff;padding: 30px; box-shadow: 0 0 20px rgba(0,0,0,.05);border-radius: 3px;box-sizing: border-box;">
        <p style="line-height: 1.5;margin: 0;padding: 0;font-size: 16px;">Hi,</p>
        <p style="line-height: 1.5;margin: 20px 0;padding: 0;font-size: 16px;">你进行{{ action }}的验证码是（如果不是本人，请不要做任何操作）：</p>
        <p
          style="line-height: 1.5;letter-spacing: 1px;margin: 0;padding: 0;font-size: 30px;font-weight: 800;color: #542DE0;">
          {{ captcha }}</p>
        <a style="color: #542DE0;font-size: 14px;margin: 20px 0 0;display: inline-block;" target="_blank"
          href="https://www.smartsignature.io/">如遇疑问可去官网进行反馈.</a>
      </div>
      <p style="color: #989898;margin-top: 30px;font-size: 14px;">Copyright © 2018-2019 ANDOROMEDA TECH.ltd</p>
    </div>
  </div>
</body>

</html>